# Streamlit App: requirements.txt

streamlit>=1.46.1
pandas>=2.2.0
numpy>=2.0.0
scikit-learn>=1.4.0
imbalanced-learn>=0.12.0
xgboost>=2.0.0
seaborn>=0.13.0
matplotlib>=3.8.0
folium>=0.15.0
streamlit-folium>=0.15.0
